<ion-view view-title="Hmone">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

   <p>{{websiteName}}</p>
    <ion-list class="list">
      <a class="item item-thumbnail-left" href="#/tab/chats/{{p.id}}" ng-repeat="p in items">
        <img src=" ">
          <p>{{p.date}}</p>
          <h2>{{p.title.rendered}}</h2>
          <h4>Discription</h4>
      </a>
      
    </ion-list>
     
    
        <ion-infinite-scroll ng-if="init.busy" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
  </ion-content>
</ion-view>
